*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{ 
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.7)), url(./asset/rat.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}
.box{
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.7)), url(https://source.unsplash.com/random/1920x1080/?rat);
   background-size: cover;
    min-height: 70vh;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 10px;
   box-shadow: 10px 10px 0px #eee;
  color: white;
}
/* add your CSS here */

.animal-info {
  border: 1px solid #ccc;
  padding: 10px;
  line-height: 1.8rem;
}

.interesting-fact {
  font-style: italic;
  font-weight: 500;
}

.animal-item-label {
  font-weight: bold;
}
.pic{
  margin: auto;
  text-align: center;
}
img{
  margin: auto;
  border-radius: 50%;
}
ul {
  list-style-type: none;
  padding-left:0;
}

.hide{
  display: none;
  transition: 0.5s linear;
}#check{
  display: none;
}

label{
 margin-top: 5px;
 display: inline-block;
 color: #F5820E;
 text-decoration: underline;
 cursor: pointer;
 font-weight: 600;


}
#check:checked ~ .hide{
  display: block;
}
#check:checked ~ label{
  visibility: hidden;
}
#check:checked ~ label:after{
  content:'Show Less';
  display: block;
  visibility: visible;
}
